<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.nikolaimadlener.tum-health-nav</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>tumhealthynavigation.health.in.tum.de:5000</string>
			<key>Title</key>
			<string>Backend Host URL</string>
			<key>Key</key>
			<string>hosturl</string>
		</dict>
	</array>
</dict>
</plist>
